<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Recover Your Account
    </ion-title>
    <p class="subtitle">
      Enter your email to recieve a reset password link
    </p>
  </div>

  <form action="">
    <div class="ion-padding">

      <ion-item>
        <ion-input placeholder="Email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item> 

      <div class="login-link">
        <p>Already a member? <a [routerLink]="['/login']">Login now!</a></p>
      </div>

      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
        <ion-fab-button [routerLink]="['/home']">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </div>
  </form>
</ion-content>
